/*pour ajouter des éléments de CSS*/

.vp-section {
	width: 516px;
	height: 417px;
	background: #E7FDED;
	 }

.vp-section-text {
	width: 660px;
	height : 160px;
}

.title_first {
	position: relative;
    z-index: 2;
    margin: 50px;
    padding-right: 10px;
    padding-left: 50px;
    color: #37383C ;
    font-weight: bold;
    font-size: 82px;
    line-height: 80px;
    letter-spacing: -0.02em;
}